absl-py==0.7.1
asn1crypto==0.24.0
astor==0.8.0
cryptography==2.1.4
cycler==0.10.0
gast==0.2.2
grpcio==1.22.0
idna==2.6
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.1.0
Markdown==3.1.1
mock==3.0.5
Pillow==6.2.0
protobuf==3.9.0
pycocotools==2.0.0
pycrypto==2.6.1
pygobject==3.26.1
pyparsing==2.4.0
python-dateutil==2.8.0
pyxdg==0.25
SecretStorage==2.3.1
setproctitle==1.1.10
six==1.11.0
termcolor==1.1.0
tqdm==4.32.2
readchar
paho-mqtt==1.4.0
joblib
sklearn
flask
