<html>
  <head>
    <script src="{{url_for('static', filename='jquery-3.4.1.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css') }}" />

    <script type="text/javascript">

        setInterval(function() {
                $.getJSON("{{ url_for('results') }}", function(data) {
                        $('#current').html(Math.round(data['good']*10)/10);
                        $('#avg').html(Math.round(10 - data['avg_bad']*10)/10);
                        $('#fps').html(Math.round(data['fps']*10)/10);
                        
			if(! $('#threshold').is(':focus')) {
				$('#threshold').val(Math.round(100 - 100*data['sensitivity'])/100);
			}
			if(! $('#user').is(':focus')) {
				$('#user').val(data['user']);
			}

                        if(data['good'] > (1 - data['sensitivity'])) {
							$('#current_class').html('Good');
						}
						else { $('#current_class').html('Bad'); }

                        if((1 - data['avg_bad']) > (1 - data['sensitivity'])) {
							$('#avg_class').html('Good');
						}
						else { $('#avg_class').html('Bad'); }


                });
        }, 4000);


		function setconf() {

			var data = {};
			data["sensitivity"] = $('#threshold').val();
			data["user"] = $('#user').val();

			$.ajax({url: "{{ url_for('set') }}", type: "POST", data: JSON.stringify(data), dataType: "json", contentType: "application/json"});

		}

    </script>


    <title>Posture Analyser</title>
  </head>
  <body>
    <h1>Posture Analyser - Configuration</h1>
    <img src="{{ url_for('video_feed') }}">

    <table>
    <tr><td>Current classification</td><td class="stat" id="current"></td><td class="stat" id="current_class"></td></tr>
    <tr><td>Average classification</td><td class="stat" id="avg"></td><td class="stat" id="avg_class"></td></tr>
    <tr><td>Threshold</td><td><input class="stat" size="4" type="text" id="threshold" /></td>
	<td><input type="button" onclick="setconf();" value="Set" /></td></tr>
    <tr><td>Username</td><td><input class="stat" size="4" type="text" id="user" /></td>
        <td><input type="button" onclick="setconf();" value="Set" /></td></tr>
    <tr><td>Frames per second</td><td class="stat" id="fps"></td></tr>
    </table>
  </body>
</html>
